CompileFlags:
  Remove:
  - -mabi=lp64
  - -maccumulate-outgoing-args
  - -femit-struct-debug-baseonly
  - -fconserve-stack
  - -fno-allow-store-data-races
  - -fmin-function-alignment=8
  Add:
  - -D__GLIBC_USE(FEATURE)=0
Diagnostics:
  UnusedIncludes: Disable
